<!DOCTYPE html>
<html>
  <head>
    <title>武林外传</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="video-wrap abp" >
      <div id="video">
      </div>
      <div id="video-danmoku" class='container'></div>
    </div>
    <div class="play-list">
      <ul>
        <li><a href="/?bili-cid=338971&url=http://tv.cntv.cn/video/C10881/4ec8c6c1bdd941b0b11280769b036e8b">第1集</a></li>
        <li><a href="/?bili-cid=339022&url=http://tv.cntv.cn/video/C10881/6e2dceca3232483088e0e5584b121317">第2集</a></li>
        <li><a href="/?bili-cid=339023&url=http://tv.cntv.cn/video/C10881/f1fa5b30a4e947ee9c717ee67e774dc0">第3集</a></li>
        <li><a href="/?bili-cid=339024&url=http://tv.cntv.cn/video/C10881/f2f449d70f7445cbbe303bf263841c48">第4集</a></li>
        <li><a href="/?bili-cid=339025&url=http://tv.cntv.cn/video/C10881/def60320376048d8a1fcc3305bc7cc31">第5集</a></li>
        <li><a href="/?bili-cid=339026&url=http://tv.cntv.cn/video/C10881/01ac2eb2ec8f427d819aa20eb6c9b365">第6集</a></li>
        <li><a href='/?bili-cid=339027&url=http://tv.cntv.cn/video/C10881/ea37d4e041b64eec9153f01d830fb2fb'>第7集</a></li>
        <li><a href='/?bili-cid=339028&url=http://tv.cntv.cn/video/C10881/8b89dff0c6e84143879949dd1262c32d'>第8集</a></li>
        <li><a href='/?bili-cid=339029&url=http://tv.cntv.cn/video/C10881/19411cb33e564875a868160d23404da6'>第9集</a></li>
        <li><a href='/?bili-cid=339030&url=http://tv.cntv.cn/video/C10881/b2e012c8678748b9963f91428f2b4a19'>第10集</a></li>
        <li><a href='/?bili-cid=339031&url=http://tv.cntv.cn/video/C10881/b675d5aa1df74f60933c64096ce5bfc9'>第11集</a></li>
        <li><a href='/?bili-cid=339032&url=http://tv.cntv.cn/video/C10881/aea603a205654aa193cfec899d8fc7b2'>第12集</a></li>
        <li><a href='/?bili-cid=339033&url=http://tv.cntv.cn/video/C10881/c27f0507635749feaa5d0cf89fcb47a8'>第13集</a></li>
        <li><a href='/?bili-cid=339034&url=http://tv.cntv.cn/video/C10881/5226d33aa39544d8847a92915e6b1765'>第14集</a></li>
        <li><a href='/?bili-cid=339035&url=http://tv.cntv.cn/video/C10881/4d9a0ddd09824466ba55af8ecdfcce4c'>第15集</a></li>
        <li><a href='/?bili-cid=339036&url=http://tv.cntv.cn/video/C10881/960df2a2e0d94622b1e810e8d98ad1ca'>第16集</a></li>
        <li><a href='/?bili-cid=339037&url=http://tv.cntv.cn/video/C10881/c10b25cfba394b92b51524317fc52c0c'>第17集</a></li>
        <li><a href='/?bili-cid=339038&url=http://tv.cntv.cn/video/C10881/ea80a959da844eaea96482e146ae5ea5'>第18集</a></li>
        <li><a href='/?bili-cid=339039&url=http://tv.cntv.cn/video/C10881/7a5b6ef3aee7499a958525ce523b1c3b'>第19集</a></li>
        <li><a href='/?bili-cid=339040&url=http://tv.cntv.cn/video/C10881/895cfa96ec1941d1bcd99927009f0fd1'>第20集</a></li>
        <li><a href='/?bili-cid=339041&url=http://tv.cntv.cn/video/C10881/a1dea3422b5540a8b206069ea5e1665b'>第21集</a></li>
        <li><a href='/?bili-cid=339042&url=http://tv.cntv.cn/video/C10881/08e7f4a6250342e0a1fbc74f9f1bcb67'>第22集</a></li>
        <li><a href='/?bili-cid=339043&url=http://tv.cntv.cn/video/C10881/c2ff03fbc518432fba347595dc03cd65'>第23集</a></li>
        <li><a href='/?bili-cid=339044&url=http://tv.cntv.cn/video/C10881/72dd6f6068c940688a12b49f7d32cc86'>第24集</a></li>
        <li><a href='/?bili-cid=339045&url=http://tv.cntv.cn/video/C10881/998839a3592a487ab0fa0a32bbb69594'>第25集</a></li>
        <li><a href='/?bili-cid=339046&url=http://tv.cntv.cn/video/C10881/629793237d2a49a0a155d82d99c8cda9'>第26集</a></li>
        <li><a href='/?bili-cid=339047&url=http://tv.cntv.cn/video/C10881/9a989b7724464a6e965602ac7301ed69'>第27集</a></li>
        <li><a href='/?bili-cid=339048&url=http://tv.cntv.cn/video/C10881/832a46ada2a2422faca3f48df1bd5276'>第28集</a></li>
        <li><a href='/?bili-cid=339049&url=http://tv.cntv.cn/video/C10881/4a77cfa4994c46ef9680e5290097bf8d'>第29集</a></li>
        <li><a href='/?bili-cid=339050&url=http://tv.cntv.cn/video/C10881/7376660054124200886eb4d01807657e'>第30集</a></li>
        <li><a href='/?bili-cid=339051&url=http://tv.cntv.cn/video/C10881/14c19d2d56c74de48fdaed08cc17c8f4'>第31集</a></li>
        <li><a href='/?bili-cid=339052&url=http://tv.cntv.cn/video/C10881/56f92c9c72404d8880481d188cb59966'>第32集</a></li>
        <li><a href='/?bili-cid=339053&url=http://tv.cntv.cn/video/C10881/7d3fedb88c1e4924a39ff4796a40acc7'>第33集</a></li>
        <li><a href='/?bili-cid=339054&url=http://tv.cntv.cn/video/C10881/350998ce907d4ac1b1e6745a5747caba'>第34集</a></li>
        <li><a href='/?bili-cid=339055&url=http://tv.cntv.cn/video/C10881/43443bcb42ce43998adc23770cd657b4'>第35集</a></li>
        <li><a href='/?bili-cid=339056&url=http://tv.cntv.cn/video/C10881/33aaf2fc0dc54f4ab5f7048b39a5a905'>第36集</a></li>
        <li><a href='/?bili-cid=339057&url=http://tv.cntv.cn/video/C10881/4dd67b672e1240c6b826964e80ec5849'>第37集</a></li>
        <li><a href='/?bili-cid=339058&url=http://tv.cntv.cn/video/C10881/f538d74452be4bfab9906002202de0bb'>第38集</a></li>
        <li><a href='/?bili-cid=347684&url=http://tv.cntv.cn/video/C10881/c6398c70481e4860854b7cefbcd73028'>第39集</a></li>
        <li><a href='/?bili-cid=339059&url=http://tv.cntv.cn/video/C10881/52e096398a184d658dbaa5a01d805ebe'>第40集</a></li>
        <li><a href='/?bili-cid=339060&url=http://tv.cntv.cn/video/C10881/5f35bedd60e540d693130de8a2c1c417'>第41集</a></li>
        <li><a href='/?bili-cid=339061&url=http://tv.cntv.cn/video/C10881/48afe675ede044ccb8672d7076fac7f3'>第42集</a></li>
        <li><a href='/?bili-cid=339062&url=http://tv.cntv.cn/video/C10881/033ca13803b64def8d4c3765869f960c'>第43集</a></li>
        <li><a href='/?bili-cid=339063&url=http://tv.cntv.cn/video/C10881/a615464cfdac436ca6b6c3978462101e'>第44集</a></li>
        <li><a href='/?bili-cid=339064&url=http://tv.cntv.cn/video/C10881/5a54752ecf2840b48e7484cc21a077fc'>第45集</a></li>
        <li><a href='/?bili-cid=339065&url=http://tv.cntv.cn/video/C10881/3c08e878a8534148bcb44ebb37a39456'>第46集</a></li>
        <li><a href='/?bili-cid=339066&url=http://tv.cntv.cn/video/C10881/fe9800d0c3f847e28dc876d37494ac44'>第47集</a></li>
        <li><a href='/?bili-cid=339067&url=http://tv.cntv.cn/video/C10881/f5e572b4f4e040ca90e8b8cf98786bf1'>第48集</a></li>
        <li><a href='/?bili-cid=339068&url=http://tv.cntv.cn/video/C10881/07128b767fba4060b006443d038ba9cb'>第49集</a></li>
        <li><a href='/?bili-cid=339069&url=http://tv.cntv.cn/video/C10881/0502786d8f8846b5b77a2318a71ac3e7'>第50集</a></li>
        <li><a href='/?bili-cid=339070&url=http://tv.cntv.cn/video/C10881/b40a0f0d5ea4421caae1ff47b510423f'>第51集</a></li>
        <li><a href='/?bili-cid=339071&url=http://tv.cntv.cn/video/C10881/ec43328461334d0db184caf28144c81c'>第52集</a></li>
        <li><a href='/?bili-cid=339072&url=http://tv.cntv.cn/video/C10881/3a934110add3484a834f4eca6c0d4b59'>第53集</a></li>
        <li><a href='/?bili-cid=339073&url=http://tv.cntv.cn/video/C10881/13a19ed4ff3a45eb8802e5ddde410452'>第54集</a></li>
        <li><a href='/?bili-cid=339074&url=http://tv.cntv.cn/video/C10881/b70695edfaeb40ce879a1c624e65399c'>第55集</a></li>
        <li><a href='/?bili-cid=339075&url=http://tv.cntv.cn/video/C10881/1ab31876997442e5b4f547c88c3651a9'>第56集</a></li>
        <li><a href='/?bili-cid=339076&url=http://tv.cntv.cn/video/C10881/6c9031c0275248c78818e3f4f0e892c1'>第57集</a></li>
        <li><a href='/?bili-cid=339077&url=http://tv.cntv.cn/video/C10881/dd67f1f3222a4081a2ef6abb23428aef'>第58集</a></li>
        <li><a href='/?bili-cid=339078&url=http://tv.cntv.cn/video/C10881/bd351445886a44abb761d0de544c92ef'>第59集</a></li>
        <li><a href='/?bili-cid=339079&url=http://tv.cntv.cn/video/C10881/78ed4b543bcf4e4ba16ba795930219c1'>第60集</a></li>
        <li><a href='/?bili-cid=339080&url=http://tv.cntv.cn/video/C10881/66b13d57419c4310815c5d8c7499aada'>第61集</a></li>
        <li><a href='/?bili-cid=339081&url=http://tv.cntv.cn/video/C10881/8599211b513a43daa8cab0d749156e48'>第62集</a></li>
        <li><a href='/?bili-cid=339082&url=http://tv.cntv.cn/video/C10881/ad89c34201734391897fd40264ede500'>第63集</a></li>
        <li><a href='/?bili-cid=339083&url=http://tv.cntv.cn/video/C10881/0dcaf26fed9b4716be53675aced49ed9'>第64集</a></li>
        <li><a href='/?bili-cid=339084&url=http://tv.cntv.cn/video/C10881/9d0109c9c2ca4300bfb7aea0587d8f1c'>第65集</a></li>
        <li><a href='/?bili-cid=339085&url=http://tv.cntv.cn/video/C10881/4e2b882e611640108af37327e48e0d4c'>第66集</a></li>
        <li><a href='/?bili-cid=339086&url=http://tv.cntv.cn/video/C10881/cabbd835498b4f0ab169266445e28175'>第67集</a></li>
        <li><a href='/?bili-cid=339087&url=http://tv.cntv.cn/video/C10881/0e8cb635eb2645a6b1e7e83e3412b975'>第68集</a></li>
        <li><a href='/?bili-cid=339088&url=http://tv.cntv.cn/video/C10881/f8d00c94a59743019354f81045f4f8ac'>第69集</a></li>
        <li><a href='/?bili-cid=339089&url=http://tv.cntv.cn/video/C10881/7a672e4831b74e46a01c5f7384e6e592'>第70集</a></li>
        <li><a href='/?bili-cid=339090&url=http://tv.cntv.cn/video/C10881/e99f290c2baa49168b823f0e60171bfb'>第71集</a></li>
        <li><a href='/?bili-cid=339091&url=http://tv.cntv.cn/video/C10881/fe5f1f54f5234c1dbf2d759a8b3f5b4b'>第72集</a></li>
        <li><a href='/?bili-cid=339092&url=http://tv.cntv.cn/video/C10881/3a86611b984c4501bac3515e5033465c'>第73集</a></li>
        <li><a href='/?bili-cid=339093&url=http://tv.cntv.cn/video/C10881/87131349548a469eb41e6cbfe325fca2'>第74集</a></li>
        <li><a href='/?bili-cid=339094&url=http://tv.cntv.cn/video/C10881/3120b0eaec244fc0b54ba33829a118d2'>第75集</a></li>
        <li><a href='/?bili-cid=339095&url=http://tv.cntv.cn/video/C10881/79f319d097c340458edda35c695bdf22'>第76集</a></li>
        <li><a href='/?bili-cid=339096&url=http://tv.cntv.cn/video/C10881/0754b5e598734e26928a369e1393fa89'>第77集</a></li>
        <li><a href='/?bili-cid=339097&url=http://tv.cntv.cn/video/C10881/52199ab3d54342c898e37f1ada08946a'>第78集</a></li>
        <li><a href='/?bili-cid=339098&url=http://tv.cntv.cn/video/C10881/4772ee1421f040379a8fe8ffacea7a64'>第79集</a></li>
        <li><a href='/?bili-cid=339099&url=http://tv.cntv.cn/video/C10881/8f81258ac0034e4796e58cd86c857fb1'>第80集</a></li>


      </ul>
    </div>
    <script type="text/javascript" src="javascripts/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="ckplayer/ckplayer.js" charset="utf-8"></script>
      <script type="text/javascript" src="javascripts/CommentCoreLibrary.min.js" charset="utf-8"></script>
    <script>
      var CM;
      var flashvars={
        f:'<%=videoList%>',
        c:0,
        p:2,
        b:0,
        i:'/images/cover.jpg',
        loaded:'loadedHandler',
        my_url:encodeURIComponent(window.location.href)
      };
      var video=['http://movie.ks.js.cn/flv/other/1_0.mp4->video/mp4'];
      CKobject.embed('/ckplayer/ckplayer.swf','video','ckplayer_a1','100%','100%',false,flashvars,video);

      function loadedHandler(){
        if(CKobject.getObjectById('ckplayer_a1').getType()){
          CKobject.getObjectById('ckplayer_a1').addListener('time',timeHandler);
        }
        else{
          CKobject.getObjectById('ckplayer_a1').addListener('time','timeHandler');
        }
      }
      function timeHandler(t){
        if(t && CM){
          CM.time(t);
        }
      }
      $(function () {
        CM = new CommentManager(document.querySelector('#video-danmoku'));
        CM.init();
        CM.clear();
        var _provider = new CommentProvider()
        _provider.addTarget(CM);

        _provider.addStaticSource(
          CommentProvider.TextProvider('GET', 'http://comment.bilibili.com/<%=cid%>.xml'),
          CommentProvider.SOURCE_TEXT).addParser(
          new BilibiliFormat.TextParser(),
          CommentProvider.SOURCE_TEXT);

        _provider.start().then(function() {
          CM.start();
        })
      })
    </script>
  </body>
</html>
